#users-table-filters {
  margin-bottom: 30px;
  select {
    margin: 0 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  input {
    max-width: 150px;
    margin: 0 10px;
  }
}

.red-alert {
  background-color: #d47373;
}

.yellow-alert {
  background-color: #e7c770;
}


.green-alert {
  background-color: #78d79c;
}
