#users-table-filters {
  margin-bottom: 30px;
  select {
    margin: 0 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  input {
    max-width: 150px;
    margin: 0 10px;
  }
}

.red-alert {
  background-color: #c38787;
}

.yellow-alert {
  background-color: #deca93;
}


.green-alert {
  background-color: #94c4a6;
}
