/*
Try to utilize variables as much as possible.  It's one of the best things about a CSS preprocessor like Sass and it makes updates much easier
*/

//theme defaults
$color-global-button-grey-background: #E7E7E7;
$color-global-text-grey: #787878;
$color-global-purple: #541b55;
$color-global-yellow: #FFCB3B;

//special colors
$color-menu-active-state: #f8f8f8;
$color-box-shadow: #888888;
$color-input-border: #EEEEEE;
$color-secondary-green: #92AA64;