/*
Try to utilize variables as much as possible.  It's one of the best things about a CSS preprocessor like Sass and it makes updates much easier
*/

$color-global-text-grey: #787878;
$color-box-shadow: #888888;
$color-purple: #541b55;
$color-menu-active-state: #f8f8f8;
